<div class="menuContainer" (click)="openSideBar()" *ngIf="sidebarState == 'closed'">
    <span class="material-symbols-outlined xxlarge bold prim">
        menu
    </span>
</div>

<div class="sidebarMainContainer" [@sidebarAnimation]="sidebarState">
    <!-- Logo -->
    <div class="logoContainer d-fr">
        <div class="logo-text-container d-fr">
            <img src="assets/logo/Grid.png" alt="" class="logoIcon">
            <p class="whiteNoChange normal bold">SmartGrid</p>
        </div>
        <div class="closeContainer" (click)="closeSideBar()">
            <span class="material-symbols-outlined large whiteNoChange">
                arrow_forward_ios
            </span>
        </div>
    </div>

    <!-- Navs -->
    <div class="navsContainer">
        <div class="cont">
            <span class="normal whiteNoChange bold">START</span>
        </div>
        <!-- Dashboard -->
        <div class="navCont" (click)="onNavigate('dashboard')">
            <span class="material-symbols-outlined xlarge whiteNoChange">
                bar_chart_4_bars
            </span>
            <span class="normal whiteNoChange bold">Dashboard</span>
        </div>
        <!-- //Dashboard -->

        <div class="cont">
            <span class="normal whiteNoChange bold">COMPONENTS</span>
        </div>
        <!-- Devices -->
        <div class="navCont" (click)="onNavigate('devices')">
            <span class="material-symbols-outlined xlarge whiteNoChange">
                devices
            </span>
            <span class="normal whiteNoChange bold">Devices</span>
        </div>
        <!-- //Devices -->

        <!-- Tarife -->
        <div class="navCont" (click)="onNavigate('schedules')">
            <span class="material-symbols-outlined xlarge whiteNoChange">
                query_stats
            </span>
            <span class="normal whiteNoChange bold">Schedules</span>
        </div>
        <!-- //Tarife -->

        <!-- <div class="cont">
            <span class="normal whiteNoChange bold">USER</span>
        </div> -->

    </div>

</div>