<div class="mainContainer">
    <!-- Headline -->
    <div class="headlineContainer">
        <!-- <h1 class="prim">Dashboard</h1> -->
        <h1 class="black">Devices</h1>
    </div>

    <div class="devices-container">
        <!-- Powerplants Container -->
        <h3 class="black">Powerplants</h3>
        <table class="powerplant-table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Generators</th>
                    <th>Fuel Type</th>
                </tr>
            </thead>

            <tbody>
                <tr>
                    <td>Kraftwerk1</td>
                    <td>5</td>
                    <td>Oil</td>
                </tr>
                <tr>
                    <td>Kraftwerk1</td>
                    <td>5</td>
                    <td>Oil</td>
                </tr>
                <tr>
                    <td>Kraftwerk1</td>
                    <td>5</td>
                    <td>Oil</td>
                </tr>
                <tr>
                    <td>Kraftwerk1</td>
                    <td>5</td>
                    <td>Oil</td>
                </tr>
                <tr>
                    <td>Kraftwerk1</td>
                    <td>5</td>
                    <td>Oil</td>
                </tr>
            </tbody>
        </table>

        <!-- windpark Container -->
        <div class="windpark-container">
            <h3 class="black">Windpark</h3>

        </div>

        <!-- solarpark Container -->
        <div class="solarpark-container">
            <h3 class="black">Solarpark</h3>


        </div>
    </div>

</div>