<div class="mainContainer">
    <!-- Headline -->
    <div class="headlineContainer">
        <h2 class="black">Energy Consumers</h2>
    </div>

    <div class="devices-container">
        <!-- SmartHomes -->
        <app-smarthome-devices></app-smarthome-devices>

        <div class="headlineContainer">
            <h2 class="black">Energy Producers</h2>
        </div>

        <!-- Powerplants -->
        <app-powerplant-devices></app-powerplant-devices>
        
        <!-- Solarparks -->
        <app-solarpark-devices></app-solarpark-devices>
        
        <!-- Windparks -->
        <app-windpark-devices></app-windpark-devices>
        <!-- //Windparks -->

        <!-- Energie Storages -->
        <app-energie-storage-devices></app-energie-storage-devices>
        <!-- //Energie Storages -->
        
    </div>

</div>