<div class="mainContainer">
    <!-- Headline -->
    <div class="headlineContainer">
        <h1 class="black">Devices</h1>
    </div>

    <div class="devices-container">
        <!-- Powerplants -->
        <app-powerplant-devices></app-powerplant-devices>
        
        <!-- Solarparks -->
        <app-solarpark-devices></app-solarpark-devices>
        
        <!-- Windparks -->
        <app-windpark-devices></app-windpark-devices>
        <!-- //Windparks -->
        
        <!-- Smart Homes -->
        <!-- //Smart Homes -->
    </div>

</div>