<!-- Top-Bar -->
<div class="top-bar-container">
    <!-- Input-Container -->
    <div class="input-container">
        <span class="material-symbols-outlined large grey bold">search</span>
        <input type="text" placeholder="Search..." class="top-bar-input">
    </div>

    <!-- Options container -->
    <div class="options-container">
        <!-- Notifications -->
        <div class="icon-container">
            <span class="material-symbols-outlined large grey no-select">notifications</span>
        </div>
        <!-- Messages -->
        <div class="icon-container">
            <span class="material-symbols-outlined large grey no-select">mark_email_unread</span>
        </div>
        <!-- Alerts -->
        <div class="icon-container">
            <span class="material-symbols-outlined large grey no-select">Warning</span>
        </div>
        <!-- BreakerH -->
        <div class="breakerH"></div>
        <!-- Darkmode -->
        <div class="icon-container" (click)="toggleDarkMode()">
            <span class="material-symbols-outlined large grey no-select">dark_mode</span>
        </div>
        <!-- User -->
        <div class="icon-container">
            <span class="material-symbols-outlined large grey no-select">account_circle</span>
        </div>
        <!-- BreakerH -->
        <div class="breakerH"></div>
        <!-- Logout -->
        <div class="icon-container">
            <span class="material-symbols-outlined large grey no-select">logout</span>
        </div>
    </div>
</div>