<!-- Powerplants -->
<div class="devices-container">
    <!-- Device Type and Button -->
    <div class="type-button-container">
        <div class="headline-icon-container">
            <span class="material-symbols-outlined xlarge black bold">
                wind_power
            </span>
            <h3 class="black">Windparks</h3>
        </div>
        <button class="addButton" (click)="toggleAdd('windPark')" *ngIf="!addingWindPark">Add+</button>
        <button class="cancelButton" (click)="toggleAdd('windPark')" *ngIf="addingWindPark">Cancel</button>

    </div>

    <div class="addContainer" *ngIf="addingWindPark">
        <!-- Form for adding a new Powerplant -->
        <form [formGroup]="windParkForm" (ngSubmit)="onWindParkSubmit()" class="formContainer">
            <!-- Name -->
            <div class="inputContainer">
                <label for="name" class="black">Name</label>
                <input type="text" name="name" formControlName="name" class="inputFeld">
            </div>

            <!-- Number of Turbines -->
            <div class="inputContainer">
                <label for="cells" class="black">Number of Turbines</label>
                <input type="number" name="numberOfTurbines" min="1" max="5" formControlName="numberOfTurbines" class="inputFeld">
            </div>

            <!-- Cell Efficiency -->
            <div class="inputContainer">
                <label for="cellE" class="black">Turbine Efficiency</label>
                <input type="number" name="turbineEfficiency" formControlName="turbineEfficiency" class="inputFeld">
            </div>

            <!-- Cell Efficiency -->
            <div class="inputContainer">
                <label for="cellE" class="black">Turbine Diameter</label>
                <input type="number" name="turbineDiameter" formControlName="turbineDiameter" class="inputFeld">
            </div>


            <button class="confirmButton" type="submit">Confirm</button>

            <h4 class="red" *ngIf="formValidState == 'invalid' ">Please enter valid Values!</h4>

        </form>
    </div>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Number of Turbines</th>
                <th>Turbine Efficiency</th>
                <th>Cell Turbine Diameter</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <!-- Listing Powerplants -->
            <tr *ngFor="let element of windParks">
                <td>{{element.id}}</td>
                <td>{{element.name}}</td>
                <td>{{element.numberOfTurbines}}</td>
                <td>{{element.turbineEfficiency}}</td>
                <td>{{element.turbineDiameter}}</td>
                <td><button class="cancelButton" (click)="onDeleteWindPark(element.id)">remove</button></td>
            </tr>
        </tbody>
    </table>
    <!-- //Powerplants -->
    <p class="black center" *ngIf="windParks.length == 0">There is no Windparks registered!</p>
</div>