<div class="mainContainer">
    <!-- Headline -->
    <div class="headlineContainer">
        <h2 class="black">Schedules</h2>
    </div>

    <div class="schedueles-container">
        <div class="schedule" *ngFor="let element of schedules">
            <div class="headline-container">
                <h3 class="black">Schedule {{element.id}}</h3>
            </div>
            <div class="ids-container">
                <span class="black bold">DeviceID:</span>
                <div class="span-inside"> <span class="black"> {{element.deviceID}}</span></div>
                <span class="black bold">SH-ID:</span>
                <div class="span-inside"> <span class="black"> {{element.smartHomeID}}</span></div>
            </div>


            <div class="consumption-container">
                <span class="black bold">Consumption</span>
                <div class="span-inside"> <span class="black"> {{element.powerConsumptionKWH}} kWh</span></div>
            </div>

            <span class="black">State: {{element.scheduleState}}</span>

            <div class="duration-container">
                <span class="black bold">Duration</span>
                <div class="span-inside"> <span class="black"> {{getFormattedTime(element.duration)}}</span></div>
            </div>

            <div class="start-container">
                <span class="black bold">Start</span>
                <div class="span-inside"> <span class="black"> {{getFormattedDate(element.startTime)}}</span></div>
            </div>

            <div class="start-container">
                <span class="black bold">End<span class="invisible">s</span></span>
                <div class="span-inside"> <span class="black"> {{getFormattedDate(element.endTime)}}</span></div>
            </div>

            <div class="price-container">
                <span class="black">Price:</span>
                <div class="span-inside"><span class="black">{{element.desiredPrice}}€</span></div>
            </div>
            
            <div class="exceedPrice-container">
                <span class="black">Exceed Price</span>
                <span class="green" *ngIf="element.canExceedPrice">Yes</span>
                <span class="red" *ngIf="!element.canExceedPrice">No</span>
            </div>

            <div class="exceedPrice-container">
                <span class="black">Stop Device</span>
                <span class="green" *ngIf="element.shouldStopDevice">Yes</span>
                <span class="red" *ngIf="!element.shouldStopDevice">No</span>
            </div>
        </div>
    </div>

</div>
<!-- 
    [
{
"id": 11153,
"deviceID": 1,
"smartHomeID": 5852,
"powerConsumptionKWH": 50.5,
"scheduleState": "CANCELLED_BY_PRICE",
"duration": 10800.000000000,
"startTime": 1673064300.000000000,
"endTime": 1673087400.000000000,
"desiredPrice": 100.0,
"canExceedPrice": false,
"shouldStopDevice": true
}
]

 -->