:host(app-main){
    width: 100%;
}

.mainContainer{
    display: flex;
    flex-direction: row;
    background-color: var(--backgroundPrim);
    width: 100%;
    height: 100%;
}

.container{
    display: flex;
    flex-direction: column;
    background-color: var(--backgroundPrim);
    flex: 1;
}
