<div class="mainContainer">
    <!-- Consumption -->
    <div class="infoContainer">
        <div class="headline-icon-container">
            <span class="material-symbols-outlined xlarge black no-select">charging_station</span>
            <h5 class="black">Consumption</h5>
        </div>
        <h5 class="black">{{consumption}} watt</h5>
    </div>
    <!-- Production -->
    <div class="infoContainer">
        <div class="headline-icon-container">
            <span class="material-symbols-outlined xlarge black no-select">charger</span>
            <h5 class="black">Production</h5>
        </div>
        <h5 class="black">{{production}} kWh</h5>
    </div>
    <!-- Storage in % -->
    <div class="infoContainer">
        <div class="headline-icon-container">
            <span class="material-symbols-outlined xlarge black no-select">factory</span>
            <h5 class="black">Storage in %</h5>
        </div>
        <h5 class="black">{{energyPercentageStored}} %</h5>
    </div>
    <!-- Storage in kWh -->
    <div class="infoContainer">
        <div class="headline-icon-container">
            <span class="material-symbols-outlined xlarge black no-select">warehouse</span>
            <h5 class="black">Storage in kWh</h5>
        </div>
        <h5 class="black">{{totalEnergyStored}} kWh</h5>
    </div>
</div>