.mainContainer{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 1em;
}

.headline-icon-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5em;
}

.infoContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--backgroundPrim);
    border-radius: 5px;
    border: 1px solid var(--black);
    height: 125px;
}
