<div class="mainContainer">
    <!-- Consumption -->
    <div class="infoContainer">
        <div class="headline-icon-container">
            <span class="material-symbols-outlined xlarge black no-select">charging_station</span>
            <h4 class="black">Energy Consumption</h4>
        </div>
        <h4 class="black">{{consumption}} kWh</h4>
    </div>
    <!-- Production -->
    <div class="infoContainer">
        <div class="headline-icon-container">
            <span class="material-symbols-outlined xlarge black no-select">charger</span>
            <h4 class="black">Energy Production</h4>
        </div>
        <h4 class="black">{{production}} kWh</h4>
    </div>
    <!-- Storage in % -->
    <div class="infoContainer">
        <div class="headline-icon-container">
            <span class="material-symbols-outlined xlarge black no-select">factory</span>
            <h4 class="black">Energy Storage in %</h4>
        </div>
        <h4 class="black">{{energyPercentageStored}} %</h4>
    </div>
    <!-- Storage in kWh -->
    <div class="infoContainer">
        <div class="headline-icon-container">
            <span class="material-symbols-outlined xlarge black no-select">warehouse</span>
            <h4 class="black">Energy Storage in kWh</h4>
        </div>
        <h4 class="black">{{totalEnergyStored}} kWh</h4>
    </div>
</div>