<!-- Powerplants -->
<div class="devices-container">
    <!-- Device Type and Button -->
    <div class="type-button-container">
        <h3 class="black">Powerplants</h3>
        <button class="addButton" (click)="toggleAdd('powerplant')" *ngIf="!addingPowerplant">Add+</button>
        <button class="cancelButton" (click)="toggleAdd('powerplant')" *ngIf="addingPowerplant">Cancel</button>
    </div>

    <div class="addContainer" *ngIf="addingPowerplant">
        <!-- Form for adding a new Powerplant -->
        <form [formGroup]="powerplantForm" (ngSubmit)="onPowerplantSubmit()" class="formContainer">
            <!-- Name -->
            <div class="inputContainer">
                <label for="name" class="black">Name</label>
                <input type="text" name="name" formControlName="name" class="inputFeld">
            </div>

            <!-- Number of Generators -->
            <div class="inputContainer">
                <label for="generators" class="black">Generators</label>
                <input type="number" name="numberOfGenerators" formControlName="numberOfGenerators" class="inputFeld">
            </div>

            <!-- Power Generation -->
            <!-- <div class="inputContainer">
                <label for="generators" class="black">Current PowerGeneration</label>
                <input type="number" name="currentPowerGeneration" formControlName="currentPowerGeneration" class="inputFeld">
            </div> -->

            <!-- Fuel Type -->
            <div class="inputContainer">
                <label for="fueltype" class="black">Fuel Type</label>
                <select name="fueltype" formControlName="fuelType">
                    <option>OIL</option>
                    <option>GAS</option>
                    <option>COAL</option>
                </select>
            </div>

            <button class="confirmButton" type="submit">Confirm</button>

            <h4 class="red" *ngIf="formValidState == 'invalid' ">Please enter valid Values!</h4>

        </form>
    </div>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Number of Generators</th>
                <th>Current power generation</th>
                <th>Fuel Type</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <!-- Listing Powerplants -->
            <tr *ngFor="let powerplant of powerplants">
                <td>{{powerplant.id}}</td>
                <td>{{powerplant.name}}</td>
                <td>{{powerplant.numberOfGenerators}}</td>
                <td>{{powerplant.currentPowerGeneration}}</td>
                <td>{{powerplant.fuelType}}</td>
                <td><button class="cancelButton" (click)="onPowerPlantDelete(powerplant.id)">remove</button></td>
            </tr>
        </tbody>
    </table>
    <!-- //Powerplants -->

    <p class="black center" *ngIf="powerplants.length == 0">There is no Powerplants registered!</p>

</div>