<div class="mainContainer" onload="initTime()">
    <!-- Options -->
    <div class="weather-city-container">
        <!-- Sun and Temp -->
        <div class="sunContainer">
            <img src="assets/weatherIcons/{{weatherIcon}}.png" alt="" class="sunImg">
            <span class="xlarge bold whiteNoChange" *ngIf="temp < 10">{{temp.toString().substring(0,1)}}°</span>
            <span class="xlarge bold whiteNoChange" *ngIf="temp >= 10">{{temp.toString().substring(0,2)}}°</span>
        </div>
        <!-- City and Date -->
        <div class="cityContainer">
            <span class="whiteNoChange semiBold normal">Dortmund</span>
            <div class="dateContainer">
                <span class="whiteNoChange semiBold normal" *ngIf="firstInit">0</span>
                <span class="whiteNoChange semiBold normal">{{day}}</span>
                <span class="whiteNoChange semiBold normal">.</span>
                <span class="whiteNoChange semiBold normal" *ngIf="firstInit">0</span>
                <span class="whiteNoChange semiBold normal">{{month}}</span>
                <span class="whiteNoChange semiBold normal">.</span>
                <span class="whiteNoChange semiBold normal">{{year}}</span>

            </div>
        </div>
    </div>
    <!-- Weather Info -->
    <div class="infoContainer">
        <!-- Air -->
        <div class="iconInfoCont">
            <span class="material-symbols-outlined whiteNoChange xxlarge">cloud</span>
            <span class="whiteNoChange normal semiBold">{{cloud}}%</span>
        </div>
        <!--  -->
        <div class="iconInfoCont">
            <span class="material-symbols-outlined whiteNoChange xxlarge">air</span>
            <span class="whiteNoChange normal semiBold">{{windSpeed}} km/h</span>
        </div>
        <!--  -->
        <div class="iconInfoCont">
            <span class="material-symbols-outlined whiteNoChange xxlarge">humidity_mid</span>
            <span class="whiteNoChange normal semiBold">{{humidity}}%</span>
        </div>
    </div>
    <!-- Time -->
    <div class="timeContainer">
        <span class="whiteNoChange large bold">{{hours}}</span>
        <span class="whiteNoChange large bold">:</span>
        <span class="whiteNoChange large bold">{{minutes}}</span>
    </div>
</div>