<div class="mainContainer">
    <!-- Options -->
    <div class="weather-city-container">
        <!-- Sun and Temp -->
        <div class="sunContainer">
            <img src="assets/Sun.png" alt="">
            <span class="xxlarge bold whiteNoChange">32°</span>
        </div>
        <!-- City and Date -->
        <div class="cityContainer">
            <span class="whiteNoChange semiBold large">Dortmund</span>
            <span class="whiteNoChange semiBold large">10.Juni 2023</span>
        </div>
    </div>
    <!-- Weather Info -->
    <div class="infoContainer">
        <div class="iconInfoCont">
            <img src="assets/icons/Cloud.png" alt="" class="infoIcon filterWhite">
            <span class="whiteNoChange large semiBold">5%</span>
        </div>
        <div class="iconInfoCont">
            <img src="assets/icons/Air.png" alt="" class="infoIcon filterWhite">
            <span class="whiteNoChange large semiBold">16 km/h</span>
        </div>
        <div class="iconInfoCont">
            <img src="assets/icons/Humidity.png" alt="" class="infoIcon filterWhite">
            <span class="whiteNoChange large semiBold">10%</span>
        </div>
    </div>
    <!-- Time -->
    <div class="timeContainer">
        <span class="whiteNoChange xlarge bold">19:20:52</span>
    </div>
</div>