<div class="mainContainer" onload="initTime()">
    <!-- Options -->
    <div class="weather-city-container">
        <!-- Sun and Temp -->
        <div class="sunContainer">
            <img src="assets/weatherIcons/{{weatherIcon}}.png" alt="" class="sunImg">
            <span class="xxlarge bold whiteNoChange">{{temp}}°</span>
        </div>
        <!-- City and Date -->
        <div class="cityContainer">
            <span class="whiteNoChange semiBold large">Dortmund</span>
            <span class="whiteNoChange semiBold large">{{day}}.{{month}}.{{year}}</span>
        </div>
    </div>
    <!-- Weather Info -->
    <div class="infoContainer">
        <!-- Air -->
        <div class="iconInfoCont">
            <span class="material-symbols-outlined whiteNoChange xxlarge">cloud</span>
            <span class="whiteNoChange large semiBold">{{cloud}}%</span>
        </div>
        <!--  -->
        <div class="iconInfoCont">
            <span class="material-symbols-outlined whiteNoChange xxlarge">air</span>
            <span class="whiteNoChange large semiBold">{{windSpeed}} km/h</span>
        </div>
        <!--  -->
        <div class="iconInfoCont">
            <span class="material-symbols-outlined whiteNoChange xxlarge">humidity_mid</span>
            <span class="whiteNoChange large semiBold">{{humidity}}%</span>
        </div>
    </div>
    <!-- Time -->
    <div class="timeContainer">
        <span class="whiteNoChange xlarge bold">{{hours}}:{{minutes}}</span>
        <!-- <span class="whiteNoChange xlarge bold" *ngIf="seconds < 10">0</span>
        <span class="whiteNoChange xlarge bold">{{seconds}}</span> -->
    </div>
</div>