.mainContainer{
    display: flex;
    flex-direction: column;
    min-height: 1000px;
    padding: 2em;
    background-color: var(--backgroundPrim);
    gap: 0.5em;
}

.headline-container{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: var(--backgroundPrim);
    width: 100%;
    padding: 0.3em 0em 0.3em 1em;
}

.histories-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1em;
}

.history{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background: var(--backgroundGradient);
    /* max-width: 400px; */
    border-radius: 10px;
    overflow: hidden;
    border: 2px solid var(--black);
    gap: 0.5em;
    padding: 1em;
}

.element-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5em;
}

.span-container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.3em;
    background-color: var(--backgroundPrim);
    border: 1px solid white;
    border-radius: 5px;
}