<div class="mainContainer">
    <!-- Headline -->
    <div class="headlineContainer">
        <!-- <h1 class="prim">Dashboard</h1> -->
        <h1 class="black">Dashboard</h1>
    </div>
    <!-- Weather -->
    <div class="weatherContainer">
        <app-weather></app-weather>
    </div>
    <!-- Devices -->
    <div class="devices-container">
        <div class="headline-menu-container">
            <h2 class="black">Devices</h2>
            <span class="material-symbols-outlined xlarge black bold">
                more_vert
            </span>
        </div>
        <div class="breaker"></div>
        <app-devices></app-devices>
    </div>
    <!-- Tarife -->
    <div class="tarife-container">

        <p class="white">Tarife</p>
    </div>
    <!-- Energieverbrauch -->
    <div class="energie-verbrauch-container">
        <p class="white">Energieverbeauch</p>

    </div>
    <!-- Energieerzeugung -->
    <div class="energie-erzeugung-container">
        <p class="white">Energieerzeugung</p>
    </div>