:host(app-dashboard){
    flex-grow: 1;
    width: 100%;
    overflow-y: auto;
}

.mainContainer{
    min-height: 1000px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.4fr 2fr 2fr 3fr 3fr 3fr 3fr;
    grid-template-areas: 
    'h'
    'w'
    'tmc'
    'd'
    'ei'
    't'
    ;
    grid-gap: 0.5em;
    padding: 1.5em 2em 2em 2em;
    background-color: var(--backgroundPrim);
    -ms-overflow-style: none;
}

:host(app-dashboard)::-webkit-scrollbar{
    width: 7px;
}   

:host(app-dashboard)::-webkit-scrollbar-track{
    background: var(--backgroundSec);
}

:host(app-dashboard)::-webkit-scrollbar-thumb {
    background: var(--scrollbarColor);
    border-radius: 10px;
  }


.headlineContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: h;
}

.weatherContainer{
    grid-area: w;
    border-radius: 10px;
}


.devices-container,
.energyInfo-container,
.energie-erzeugung-container,
.energie-verbrauch-container,
.timeManipulationContainer,
.tarif-container{
    border: 2px solid #3E424C;
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
    /* background-color: var(--backgroundSec); */
    background: var(--backgroundGradient);
    padding: 0.5em 0.5em 2em 0.5em;
}

.devices-container{
    grid-area: d;
}

.timeManipulationContainer{
    grid-area : tmc;
}

.headline-menu-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.energyInfo-container{
    flex-direction: column;
    grid-area: ei;
}

.energie-verbrauch-container{
    grid-area: ev;
}

.energie-erzeugung-container{
    grid-area: ee;
}

.tarif-container{
    grid-area: t;
}

@media (min-width:992px) {
    .mainContainer{ 
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: min-content min-content min-content min-content ;
        grid-template-areas: 
        'h h h'
        'w w w'
        'ei d t'
        'tmc tmc tmc';
    }

    .headlineContainer{
        justify-content: flex-start;
    }
}