<div class="mainContainer">
    <!-- Headline -->
    <div class="headlineContainer">
        <!-- <h1 class="prim">Dashboard</h1> -->
        <h2 class="black">Dashboard</h2>
    </div>
    <!-- Weather -->
    <div class="weatherContainer">
        <app-weather></app-weather>
    </div>

    <div class="timeManipulationContainer">
        <app-time-manipulation> </app-time-manipulation>
    </div>

    <!-- Devices -->
    <div class="devices-container">
        <div class="headline-menu-container">
            <h3 class="whiteNoChange">Devices</h3>
            <span class="material-symbols-outlined xlarge whiteNoChange bold">
                more_vert
            </span>
        </div>
        <div class="breaker"></div>
        <app-devices-chart></app-devices-chart>
    </div>
    <!-- Energy Info -->
    <div class="energyInfo-container">
        <div class="headline-menu-container">
            <h3 class="whiteNoChange">Energy Information</h3>
            <span class="material-symbols-outlined xlarge whiteNoChange bold">
                more_vert
            </span>
        </div>
        <div class="breaker"></div>
        <app-energy-info></app-energy-info>
    </div>
    <!-- Tarif Container -->
    <div class="tarif-container">
        <div class="headline-menu-container">
            <h3 class="whiteNoChange">Tarif</h3>
            <span class="material-symbols-outlined xlarge whiteNoChange bold">
                more_vert
            </span>
        </div>
        <div class="breaker"></div>
        <app-tarif></app-tarif>
    </div>



    <!-- Energy Info -->
    <!-- Energy Info -->
    <!-- Energy Info -->
    <!-- Energieverbrauch -->
    <!-- <div class="energie-verbrauch-container">
        <p class="white">Energieverbeauch</p>
    </div> -->
    <!-- Energieerzeugung -->
    <!-- <div class="energie-erzeugung-container">
        <p class="white">Energieerzeugung</p>
    </div> -->
</div>